/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); */
*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;}
html{
    scroll-behavior: smooth;
}
hr{
  margin: 30px;
}
/* feature main  */
  /* Service Container Styles */
  .service-container {
    display: flex;
    font-family: 'Arial', sans-serif;
        margin: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 150px;
    /* background-color: #f1f1f1; */
  }
  
  .service-box {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .service-box:hover {
    transform: translateY(-5px);
  }
  
  .service-content {
    padding: 20px;
    text-align: center;
  }
  
  .service-title a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  .service-box p {
    font-size: 15px;
    color: #555;
    margin-bottom: 0;
  }
  .icon{
    width: 28px;
    margin-right: 0.7rem;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .service-box {
        width: calc(50% - 20px);
    }
    .service-container {
      padding: 40px 100px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .service-box {
        width: 100%;
    }
    .service-container {
      padding: 30px 20px;
    }
  }
  /* end  */
.picture-1{
    height: 80vh;
    background:rgba(0, 0, 0, 0.7) url(/img/feature2.jpg);
    box-shadow: 0 12px 20px rgba(0,0,0,0.5);
    background-size: cover;
    background-blend-mode: darken;
    color: rgb(170, 169, 169);
    text-align: center;
}
.picture-2{
  height: 80vh;
  background:rgba(0, 0, 0, 0.7) url(/img/feature1.jpg);
  box-shadow: 0 12px 20px rgba(0,0,0,0.5);
  background-size: cover;
  background-blend-mode: darken;
  color: rgb(170, 169, 169);
  text-align: center;
}
.picture-3{
  height: 80vh;
  background:rgba(0, 0, 0, 0.7) url(/img/feature3.jpg);
  box-shadow: 0 12px 20px rgba(0,0,0,0.5);
  background-size: cover;
  background-blend-mode: darken;
  color: rgb(170, 169, 169);
  text-align: center;
}
.picture-4{
  height: 80vh;
  background:rgba(0, 0, 0, 0.7) url(/img/feature4.jpg);
  box-shadow: 0 12px 20px rgba(0,0,0,0.5);
  background-size: cover;
  background-blend-mode: darken;
  color: rgb(170, 169, 169);
  text-align: center;
}
.picture-5{
  height: 80vh;
  background:rgba(0, 0, 0, 0.7) url(/img/feature5.jpg);
  box-shadow: 0 12px 20px rgba(0,0,0,0.5);
  background-size: cover;
  background-blend-mode: darken;
  color: rgb(170, 169, 169);
  text-align: center;
}
.picture-6{
  height: 80vh;
  background:rgba(0, 0, 0, 0.7) url(/img/feature6.jpg);
  box-shadow: 0 12px 20px rgba(0,0,0,0.5);
  background-size: cover;
  background-blend-mode: darken;
  color: rgb(170, 169, 169);
  text-align: center;
}
.group{
    line-height: 3rem;
    padding: 200px 300px 0px 300px;
}
.heading{
    display: block;
    text-align: center;
    margin: 70px 0px;
    padding: 0px 200px;
  }
  .heading .slogan{
    margin-bottom: 40px;
    font-size: 2.5em;
    font-weight: lighter;
    line-height: 1em;
    color: #4e4e4e;

  }
  .heading .para{
    font-size: 1.1em;
    font-weight: 50;
    line-height: 1.5em;
    color: #7e7e7e;
  }
.patch{
    background-color: #4a90e2;
    text-align: center;
    padding: 50px 0px;
   
}
.patch h1{
    font-size: 1.6em;
    line-height: 1.36363636em;
    font-weight: 100;
}
.patch a{
    text-decoration: none;
    color: white;
}
.parts{
    display: flex;
    margin: 0px 180px 50px 180px;
}
.photo{
    width: 50%;
    text-align: start;
}
.pic-1{
    text-align: end;
    width: 50%;
}
.paragraph{
    width: 50%;
}
  .headline{
  font-weight: 100;
  line-height: 1.8rem;
  color: rgb(71, 70, 70);
  }
  .p{
    line-height: 1.5rem;
    color: #7e7e7e;
    margin: 30px 0px;
  }
.key{
    padding-left: 180px;
}
.parts-1{
    display: flex;
    margin: 0px 130px 100px 130px;   
}
.link{
    width: 40%;
    line-height: 1.5rem;
    color: #7e7e7e;
    margin: 30px 0px;
}
.link a{
  color: #4a90e2; 
  font-size: small;
}
.link a:hover{
  color: #245286; 
}
.process-3 {
    width: 60%;
      counter-reset: number;
  }
  .process-3 .process__number > span:before {
      counter-increment: number;
      content: counter(number);
  }
  .process-3 {
    list-style: none;
    position: relative;
  }
  .process-3 li {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
  }
  .process-3 li .process__number {
    float: left;
    width: 15%;
    width: 3.71428571em;
    height: 3.71428571em;
    border-radius: 50%;
    border: 2px solid #4a90e2;
    background: #fff;
    text-align: center;
  }
  .process-3 li p{
    width: 100%;
    color: grey;
  }
  .process-3 li .process__number span {
    font-size: 1.35714286em;
    font-weight: bold;
    color: #4a90e2;
    position: relative;
    top: 16px;
  }
  .process-3 li .process__body {
    width: 80%;
    float: left;
    margin-left: 20px
  }
  .process-3 li .process__body h4 {
    margin-bottom: 0.342105263157895em;
    color: #4e4e4e;
  }
  .process-3 li:not(:last-child) {
    margin-bottom: 3.71428571em;
  }
  .process-3:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 15px;
    left: 1.85714286em;
    top: 0;
    border-left: 1px dashed #ddd;
  }
  .bg--dark .process-3 li .process__number {
    background: #252525;
  }
  .bg--dark .process-3:before {
    border-color: #aaa;
  }

  @media (max-width: 1053px) and (min-width:868px){
    
    .group{
        padding: 165px 70px;
      }
      .heading{
        padding: 0px 20px 0px 20px;
      }
      .heading .slogan{
        padding: 0px 20px 0px 20px;
        line-height: 1.3em;
      }
      .heading .para{
        line-height: 1.5em;
      }
      .parts{
        display: flex;
        margin: 0px 100px;
    }
    .key{
        padding: 0px 100px;
    }
    .parts-1{
        margin: 0 50px;
      }
  }
  @media (max-width: 868px){
    .picture-1, .picture-2, .picture-3, .picture-4, .picture-5, .picture-6{
        height: 60vh;
    }
    .group{
        padding: 140px 30px 0px 30px;
        line-height: 2rem;
      }
        .heading{
          padding: 0px 50px 0px 50px;
          margin: 100px 0px;
        }
        .heading .slogan{
          padding: 0;
          line-height: 1.3em;
        }
        .heading .para{
          line-height: 1.5em;
          padding: 0;
        }
        .parts{
            flex-direction: column;
            margin: 0px 50px;
        }
        .photo, .paragraph{
            width: 100%;
            text-align: center;
            padding-bottom: 30px;
        }
        .pic{
            width: 100%;
        }
        .pic-1{
            width: 100%;
        }
          .headline{
          font-weight: 100;
          line-height: 1.8rem;
          color: rgb(71, 70, 70);
          }
          .p{
            line-height: 1.5rem;
            color: #7e7e7e;
          margin: 30px 0px;
          }
          .key{
            padding: 0px 50px;
        }
        .parts-1{
            flex-direction: column;
            margin: 0px 30px;
        }
        .process-3{
            width: auto;
            margin-left: 30px;
          }
          .process-3 li .process__body {
            margin: 0;
            padding-left: 10px;
          }
          .link{
            width: 100%;
            padding-left: 20px;
          }
}
  @media (max-width: 400px){
    .picture-1, .picture-2, .picture-3, .picture-4, .picture-5, .picture-6{
        height: 60vh;
    }
    .group{
        padding: 100px 30px 0px 30px
      }
        .heading{
          padding: 0px 30px;
          margin: 50px 0px;
        }
        .heading .slogan{
          padding: 0;
          font-weight: 50;
          line-height: 1.3em; 
        }
        .heading .para{
          line-height: 1.5em;
        }
        .parts-1{
            margin: 0px 20px;
        }
        .process-3{
            width: auto;
            margin-left: 30px;
          }
          .process-3 li .process__body {
            width: 60%;
            margin: 0;
            padding-left: 10px;
          }

        }
